@use "../abstracts";

.product-page {
  display: flex;
  height: 80vh;
  background-color: var(--product-page-bg-color);
}

.breadcrumbs {
  display: flex;
  align-items: center;

  min-height: 64px;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--breadcrumb-bg-color);
  border-radius: 10px;
  box-shadow: var(--breadcrumb-shadow);
  gap: 20px;

  @include abstracts.screen(md) {
    flex-wrap: wrap;
    gap: 16px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;

    color: var(--breadcrumb-text-color);

    &--current {
      color: var(--breadcrumb-text-color-current);
    }

    @include abstracts.screen(md) {
      font-size: 1.4rem;
    }
  }
}
