@use "../abstracts";

.form {
  &__label {
    font-size: 2.2rem;
    font-weight: 500;
    display: block;

    @include abstracts.screen(md) {
      font-size: 2rem;
    }

    &--small {
      margin-bottom: 10px;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  &__select-wrap {
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    flex: 1;

    border: 1px solid var(--separate-color);
    border-radius: 6px;
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: calc(100% - 10px);

    font-size: 1.5rem;

    cursor: pointer;

    @include abstracts.screen(xl) {
      flex-grow: 1;
    }

    & + & {
      border-left: 1px solid var(--separate-color);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__tag {
    height: 32px;
    padding: 0 12px;

    font-size: 1.4rem;
    font-weight: 500;
    color: var(--form-tag-color);

    border-radius: 6px;
    background: var(--form-tag-bg-color);

    transition: color, background;
    transition-duration: 0.3s;

    &:hover {
      color: var(--form-tag-color-hover); //#171c28;
      background: var(--form-tag-bg-color-hover); //#ededf0;
    }
  }
}
