@use "../abstracts";

.logo {
  display: flex;
  align-items: center;
  gap: 14px;

  @include abstracts.screen(lg) {
    margin-left: 24px;
  }

  @include abstracts.screen(md) {
    margin-left: 0;
    gap: 10px;
  }

  &__img {
    width: 24px;
  }

  &__text {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
    color: var(--text-color);

    @include abstracts.screen(md) {
      font-size: 1.8rem;
    }
  }
}
