@use "../abstracts";

html.dark {
  --bg-color: #292e39;
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(14%) hue-rotate(314deg) brightness(104%)
    contrast(100%);
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow-color: rgba(0, 0, 0, 0.2);
  --avatar-shadow-color: rgba(0, 0, 0, 0.08);
  --header-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
  --separate-color: #505665;

  // Buttons
  --primary-button-text-color: #1a162e;
  --outline-button-bg-color: rgba(255, 255, 255, 0.1);

  // Inputs
  --error-text-color: #f37272;
  --error-border-color: #f37272;
  --error-bg-color: rgba(243, 114, 114, 0.05);

  // Forms

  --form-tag-color: #9e9da8;
  --form-tag-bg-color: #292e39;

  --form-tag-color-hover: #fff;
  --form-tag-bg-color-hover: #343a48;

  // Dropdown
  --dropdown-bg-color: #303644;
  --dropdown-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(20%) sepia(15%) saturate(701%) hue-rotate(184deg)
    brightness(93%) contrast(94%);
  --border-color: #171c28;
  --menu-icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(100deg)
    brightness(103%) contrast(101%);

  // Card Pattern
  --card-bg-color: #171c28;

  // Sidebar
  --sidebar-bg-color: #303644;
  --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

  // Home Categories
  --cate-item-bg-color: #171c28;
  --cate-item-thumb-bg-color: #292e39;

  // Filter Button
  --filter-btn-color: #d2d1d6;
  --filter-btn-bg-color: #171c28;

  // Filter Card
  --filter-bg-color: var(--dropdown-bg-color);
  --filter-shadow: var(--dropdown-shadow);

  // Product Card
  --product-card-bg-color: #171c28;
  --product-card-shadow: 00px 20px 60px 10px rgba(0, 0, 0, 0.2);

  --like-btn-color: #292e39;
  --like-btn-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

  // Authentication - Sign In / Sign Up
  --auth-intro-bg-color: #171c28;
  --auth-content-bg-color: #292e39;
  --auth-intro-text-color: #9e9da8;
  --auth-checkbox-label-color: #9e9da8;
  --auth-checkbox-label-color-checked: #fff;

  // Product Detail Page
  --product-page-bg-color: #292e39;
  --prod-info-bg-color: #171c28;
  --thumb-border-color: #3c4358;
  --tag-green-bg-color: rgba(103, 176, 68, 0.2);

  // Breadcrumbs
  --breadcrumb-bg-color: #171c28;
  --breadcrumb-text-color-current: #fff;
  --breadcrumb-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);

  // Search Bar
  --search-bar-bg-color: #171c28;
  --search-bar-placeholder-color: #9e9da8;

  // Checkout
  --checkout-promo-illus-bg-color: rgba(118, 68, 225, 0.2);

  // Footer

  --footer-input-border-color: #9e9da8;
  --footer-heading-text-color: #9e9da8;

  @include abstracts.screen(lg) {
    --footer-bg-color: var(--header-bg-color);
  }

  --footer-social-icon-color: brightness(0) saturate(100%) invert(64%) sepia(7%) saturate(338%) hue-rotate(206deg)
    brightness(97%) contrast(88%);

  // Table
  --table-head-bg-color: #3c424e;

  // Review Card
  --review-card-bg-color: #171c28;
}
