<div class="container">
  <div class="footer__inner">
    <!-- Row 1: Sitemap -->
    <div class="footer__row">
      <!-- Column 1: Brand -->
      <div class="footer__col footer__brand">
        <!-- Logo -->
        <a href="./" class="logo footer__logo">
          <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
          <h2 class="logo__text">grocerymart</h2>
        </a>
        <!-- Brand Desc -->
        <p class="footer__desc">
          GroceryMart is an eCommerce platform offering fast delivery, a wide selection, and a seamless shopping
          experience.
        </p>
        <!-- Brand Newsletter -->
        <div class="footer__newsletter">
          <p class="footer__help-text">Receive product news and update</p>
          <form action="" class="footer__form">
            <input type="text" class="footer__input" placeholder="Email address" />
            <button class="btn btn-primary btn-sm">SEND</button>
          </form>
        </div>
      </div>
      <!-- Column 2: Shop -->
      <div class="footer__col">
        <h3 class="footer__heading">Shop</h3>
        <ul class="footer__list">
          <li>
            <a href="#!" class="footer__link">All Departments</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Fashion Deals</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Electronics Discounts</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Home & Living Specials</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Beauty Bargains</a>
          </li>
        </ul>
      </div>
      <!-- Column 3: Support -->
      <div class="footer__col">
        <h3 class="footer__heading">Support</h3>
        <ul class="footer__list">
          <li>
            <a href="#!" class="footer__link">Store Locator</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Order Status</a>
          </li>
        </ul>
      </div>
      <!-- Column 4: Company -->
      <div class="footer__col">
        <h3 class="footer__heading">Company</h3>
        <ul class="footer__list">
          <li>
            <a href="#!" class="footer__link">Customer Service</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Terms of Use</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Privacy</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Careers</a>
          </li>
          <li>
            <a href="#!" class="footer__link">About</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Affiliates</a>
          </li>
        </ul>
      </div>
      <!-- Column 5: Contact -->
      <div class="footer__col">
        <h3 class="footer__heading">Contact</h3>
        <ul class="footer__list">
          <li>
            <p class="footer__label">Email</p>
            <a class="footer__link" href="mailto:hello@thachtran.com">hello@thachtran.com</a>
          </li>
          <li>
            <p class="footer__label">Hotline</p>
            <a class="footer__link" href="tel:18009098">18009098</a>
          </li>
          <li>
            <p class="footer__label">Address</p>
            <a
              class="footer__link"
              href="https://maps.app.goo.gl/BvozityXumxAyriy9"
              target="_blank"
              rel="noopener noreferrer"
              >Etown Cong Hoa, Tan Binh District, Ho Chi Minh City</a
            >
          </li>
          <li>
            <p class="footer__label">Hours</p>
            <p class="footer__text">Mon - Fri, 8AM - 6PM</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Row 2: Copyrights & Social -->
    <div class="footer__bottom">
      <p class="footer__copyright">©2025 Grocery Mart. All rights reserved.</p>
      <div class="footer__socials">
        <a
          href="https://www.linkedin.com/in/thachtranvn/"
          target="_blank"
          rel="noopener noreferrer"
          class="footer__social-link footer__social-link--linkedin"
        >
          <img src="./assets/icons/social-icon-linkedin.svg" alt="" class="footer__social-icon" />
        </a>
        <a
          href="https://www.facebook.com/thachtranvn"
          target="_blank"
          rel="noopener noreferrer"
          class="footer__social-link footer__social-link--facebook"
        >
          <img src="./assets/icons/social-icon-facebook.svg" alt="" class="footer__social-icon" />
        </a>
        <a
          href="https://dribbble.com/thachtran"
          target="_blank"
          rel="noopener noreferrer"
          class="footer__social-link footer__social-link--dribbble"
        >
          <img src="./assets/icons/social-icon-dribbble.svg" alt="" class="footer__social-icon" />
        </a>
        <a
          href="https://www.behance.net/thachtranvn"
          target="_blank"
          rel="noopener noreferrer"
          class="footer__social-link footer__social-link--behance"
        >
          <img src="./assets/icons/social-icon-behance.svg" alt="" class="footer__social-icon" />
        </a>
        <a href="#!" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link--">
          <img src="./assets/icons/social-icon-threads.svg" alt="" class="footer__social-icon" />
        </a>
      </div>
    </div>
  </div>
</div>
